<div class="signup-wrapper">
  <h1>DevHub</h1>
  @if (errMsg) {
  <span class="error-msg"> {{ errMsg }} </span>
  }
  <form [formGroup]="signupForm" (submit)="submitSignupForm()">
    <div class="form-control-wrapper">
      <input
        type="text"
        id="firstname"
        formControlName="firstname"
        placeholder="Enter FirstName"
      />

      @if (signupForm.get('firstname')?.invalid) {
      <span class="error-msg">Field is required.</span>
      }
    </div>
    <div class="form-control-wrapper">
      <input
        type="text"
        id="lastname"
        formControlName="lastname"
        placeholder="Enter Lastname"
      />

      @if (signupForm.get('lastname')?.invalid) {
      <span class="error-msg">Field is required.</span>
      }
    </div>

    <div class="form-control-wrapper">
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter Username"
      />

      @if (signupForm.get('username')?.invalid) {
      <span class="error-msg">Field is required.</span>
      }
    </div>

    <div class="form-control-wrapper">
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="Enter Email"
      />
    </div>

    <div class="form-control-wrapper">
      <input
        [type]="showPwd ? 'text'  :'password'"
        id="password"
        formControlName="password"
        placeholder="Enter Password"
      />

      <mat-icon (click)="showPwd = !showPwd" class="material-icons pwdIcon">
        {{showPwd ? 'visibility' : 'visibility_off' }}
      </mat-icon>

      @if (signupForm.get('password')?.invalid) {
      <span class="error-msg">Field is required.</span>
      }
    </div>

    <div class="form-control-wrapper">
      <input
        [type]="showConfirmPwd ? 'text'  :'password'"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
      <mat-icon
        (click)="showConfirmPwd = !showConfirmPwd"
        class="material-icons pwdIcon"
      >
        {{showConfirmPwd ? 'visibility' : 'visibility_off' }}
      </mat-icon>

      @if (signupForm.get('confirmPassword')?.invalid) {
      <span class="error-msg">Field is required.</span>
      } @if (signupForm.get('confirmPassword')?.touched &&
      signupForm.hasError('passwordMismatch')) {
      <span class="error-msg">Password do not match.</span>
      }
    </div>

    <button
      class="submit-btn"
      type="submit"
      [disabled]="signupForm.invalid || isSubmitting "
    >
      Sign Up
    </button>
  </form>
</div>

<!-- <button type="button" (click)="changeColor()">Change Color</button> -->
