<div class="login-wrapper">
  <h1>DevHub</h1>
  @if (errMsg) {
  <span class="error-msg"> {{ errMsg }} </span>
  }
  <form [formGroup]="loginForm" (submit)="submitLoginForm()">
    <div class="form-control-wrapper">
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter Username"
      />

      @if (loginForm.get('username')?.invalid &&
      loginForm.get('username')?.touched) {
      <span class="error-msg">Field is required.</span>
      }
    </div>

    <div class="form-control-wrapper">
      <input
        type="text"
        id="password"
        formControlName="password"
        placeholder="Enter Password"
      />

      @if (loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched) {
      <span class="error-msg">Field is required.</span>
      }
    </div>

    <div class="options">
      <div class="rememberMe-wrapper">
        <input
          type="checkbox"
          id="rememberMe"
          [checked]="isChecked"
          (change)="isChecked = $event.target.checked"
        />
        Remember Me
      </div>

      <a href="#">Forgot password?</a>
    </div>

    <div class="guest-link">
      <a href="#">Continue as guest</a>
    </div>

    <button class="submit-btn" type="submit" [disabled]="loginForm.invalid || isSubmitting ">
      Log In
    </button>
  </form>
</div>

<!-- <button type="button" (click)="changeColor()">Change Color</button> -->
