<div class="login-wrapper">
  <form [formGroup]="loginForm" (submit)="submitLoginForm()">
    <div class="form-control-wrapper">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter Username"
      />

      @if (loginForm.get('username')?.invalid &&
      loginForm.get('username')?.touched) {
      <span class="error">Field is required.</span>
      }
    </div>

    <div class="form-control-wrapper">
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        formControlName="password"
        placeholder="Enter Password"
      />

      @if (loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched) {
      <span class="error">Field is required.</span>
      }
    </div>
    <!-- 
        <div class="options">
              <label><input type="checkbox" name="remember" /> Remember me</label>
              <a href="#">Forgot password?</a>
            </div> -->

    <div class="guest-link">
      <a href="#">Continue as guest</a>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Log In</button>
  </form>
</div>
