/* You can add global styles to this file, and also import other style files */

:root {
    --app-background-color: #ffffff;
    --app-color: #000000;
    --app-activeColor: #0aca4a;
    --app-errorMsg: rgb(214, 37, 37);
}

html, body, app-root {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}