/* You can add global styles to this file, and also import other style files */
:root {
    --backgroundColor: #ffffff;
    --color: #000000;
    --activeColor: #0aca4a;
    --errorMsg: rgb(214, 37, 37); 
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}