.carousel-wrapper {
    display: flex;
    padding: 0px 20px 0px 20px;
    overflow-x: hidden;
    gap: 12px;
    scroll-behavior: smooth;
}

.carousel-controls {
    display: flex;
    gap: 12px;
    padding: 0px 20px 0px 20px;
    justify-content: flex-end;
}

.carousel-item {
    flex: 1 1 calc(33.333% - 11px);
    /* min-width: calc(33.333% - 11px); */
    /* Show 3 items at a time */
    /* box-sizing: border-box; */
}

.carousel-btn {
    background-color: #333;
    color: var(--app-color);
    border-radius: 20px;
    font-size: 22px;
    border: 2px solid var(--app-activeColor);
    width: 60px;
    cursor: pointer;

}

.carousel-item>h3 {
    color: white;
}

.topDev-card {
    /* flex: 0 0 calc(16.666% - 10px);  */
    /* Displays 4 cards at a time on desktop screens */
    min-width: 260px;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.carousel-topDev-card {
    position: relative;
    display: flex;
    /* align-items: flex-end; */
    /* width: 220px; */
    height: 250px;
    flex-direction: column;
}

.thumbnail-wrapper {
    background: transparent;
    box-shadow: none;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    z-index: 2;
}

.number-card {
    position: absolute;
    /* left: -20px; */
    /* top: -20px; */
    font-size: 120px;
    font-weight: 900;
    line-height: 0.8;
    /* color: rgb(124 118 118 / 72%); */

    /* background: linear-gradient(90deg, rgba(128, 175, 210, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(128, 175, 210, 1) 100%); */
    z-index: 1000;
    user-select: none;
    font-weight: bold;

    /* Create the gradient background */
    background: linear-gradient(90deg, rgba(128, 175, 210, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(128, 175, 210, 1) 100%);

    /* Clip the background to the text glyphs */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the original text color invisible to show the background */
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.topDev-img {

    object-fit: scale-down;
    transition: filter 0.3s ease;
    width: 140px;
    height: 140px;
    border-radius: 220%;

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

::ng-deep youtube-player button {
    cursor: pointer;
}

@media (max-width: 768px) {
    .carousel-controls {
        display: none;
        /* Mobile users use native swipe gestures */
    }

    /* .carousel-card {
        flex: 0 0 240px;
       
    }

    .carousel-title {
        font-size: 14px;
    } */
}