<div class="carousel-controls">
  <button class="carousel-btn" aria-label="Scroll Left" (click)="scrollPrev()">
    &#10094;
  </button>
  <button class="carousel-btn" aria-label="Scroll Right" (click)="scrollNext()">
    &#10095;
  </button>
</div>
<div #carouselWrapper class="carousel-wrapper">
  @for (slide of slides(); track slide.id || slide.sys_id;let idx = $index) {
  @let hasVideo = slide.sys_id;

  <div class="carousel-item">
    @if (hasVideo) {
    <h3>{{ slide.title }}</h3>
    } @else {
    <h3>{{ slide.firstname?.trim() + ' ' + slide.lastname?.trim() }}</h3>

    } @if (hasVideo) {
    <div class="video-wrapper">
      <!-- original height 560 -->
      <youtube-player [videoId]="slide.url" width="420" height="315" />
    </div>
    } @else {
    <div class="topDev-card carousel-topDev-card">
      <div id="slide.id" class="number-card">{{ idx + 1 }}</div>

      <div class="thumbnail-wrapper">
        <img
          id="slide.id"
          class="topDev-img"
          [src]="slide.img ? slide.img : '/images/placeholder-user-img.png'"
          [alt]="'Image of ' + slide.firstname?.trim() + ' ' +  slide.lastname?.trim() "
        />
      </div>
    </div>

    }
  </div>
  } @empty {
  <p>No slides available to display.</p>
  }
</div>
